<div class="container">
  <div class="top-content-main">
    <div class="top-content-left">
      <div class="top-content-left-text">
        <h1 class="capital">Самая вкусная пицца в мире
          <span >только в Pizza Cheff</span>
        </h1>
      </div>
      <div class="top-content-left-features">
        <div class="top-feature">
          <div class="top-content-feature">
            <img src="assets/img/icons/hop.svg" alt="feature-icon">
            <div class="feature-text">
              <span class="standard">ЛУЧШЕЕ ТЕСТО</span>
              <p class="standard">Мы создаем тесто только из
                отборной итальянской муки
                наивысшего качества</p>
            </div>
          </div>
          <div class="top-content-feature">
            <img src="assets/img/icons/kitchen-pack.svg" alt="feature-icon">
            <div class="feature-text">
              <span class="standard">ЛУЧШИЕ ПОВАРА</span>
              <p class="standard">Пиццы готовят самые
                профессиональные
                итальянские повара</p>
            </div>
          </div>
        </div>
        <div class="top-feature">
          <div class="top-content-feature">
            <img src="assets/img/icons/seo-and-web.svg" alt="feature-icon">
            <div class="feature-text">
              <span class="standard">ГАРАНТИЯ КАЧЕСТВА</span>
              <p class="standard">Наша пиццерия получила
                множество наград и
                признаний по всему миру</p>
            </div>
          </div>
          <div class="top-content-feature">
            <img src="assets/img/icons/holidays.svg" alt="feature-icon">
            <div class="feature-text">
              <span class="standard">ОТБОРНЫЕ РЕЦЕПТЫ</span>
              <p class="standard">Мы используем рецепты
                от мировых лидеров
                в изготовлении пиццы</p>
            </div>
          </div>
        </div>
      </div>
      <div class="top-content-btn">
        <button class="standard">Выбрать пиццу</button>
      </div>
    </div>
    <div>
      <img class="pizza-size" src="assets/img/pizza_big.svg" alt="top_content_image"/>
    </div>
  </div>
</div>
