@import "src/styles";

.top-content-main{
  display: flex;
  //justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.top-content-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-content-left-features{
  display: flex;
  flex-direction: column;
}


.top-content-left-text{
  text-align: center;
  h1{
    color: $secondaryColor;
    padding: 0;
    margin: 0;

    span{
      color: $mainColor;
    }
  }
}

.top-feature{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}


.top-content-feature{
  display: flex;
  flex-direction: row;
  max-width: 290px;
  gap: 10px;
  height: 70px;
  min-width: 250px;
}

.top-content-btn{
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;

  button{
    padding: 15px 40px;
    background-color: $mainColor;
    border:none;
    font-weight: bold;
    cursor: pointer;

    &:hover{
      opacity: 0.7;
    }
  }
}

.feature-text{
  display: flex;
  flex-direction: column;
  gap: 5px;

  span{
    color: $mainColor;
    font-weight: 900;
  }

  p{
    color: $secondaryColor;
    margin: 0;
    padding: 0;
  }
}
