/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap');

body{
  font-family: 'Work Sans', sans-serif;
}


//Color variables
$mainColor: #ffaf18;
$secondaryColor: #a46b00;

//Media variables
$mobile: 43rem;
$tablet: 62rem;
$laptop: 82rem;
$desktop: 102rem;



a{
  text-decoration: none;
  color: $secondaryColor;
}

.container{
  width: 100%;
  margin: auto;
}

//Font Size
.capital{
  font-size: 24px;
}

.medium{
  font-size: 18px;
}

.standard{
  font-size: 14px;
}

.pizza-size{
  display: none;
}

//Media Queries
@media (min-width: $mobile) {

  .top-feature{
    flex-direction: row!important;
  }


  .header-links{
    display: flex!important;
  }

  .burger-menu{
    display: none!important;
  }

  .container{
    width: 100%;
    margin: auto;
  }


  .footer-image{
    display: none;
  }

  .food-card{
    width: 260px;
  }

  .food-card-container{
    justify-content: space-around;
    gap: 30px;
  }

  .footer-content{
    flex-direction: column;
  }

  .footer-left{
    max-width: 320px;
    margin-bottom: 30px;

    h4{
      font-size: 24px;
    }
  }

}

@media (min-width: $tablet) {
  .container{
    max-width: 780px;
    margin: auto;
  }

  .footer-content{
    flex-direction: row!important;
  }


  .top-feature{
    flex-direction: row;
  }

  .capital{
    font-size: 26px;
  }

  .food-card{
    width: 220px;
  }

  .food-card-container{
    gap: 33.3333333px;
  }


  .footer-left{
    max-width: 300px;

    h4{
      font-size: 26px;
    }
  }
}

@media (min-width: $laptop) {
  .container{
    max-width: 980px;
    margin: auto;
  }

  .top-content-left{
    align-items: flex-start!important;
  }

  .top-content-left-text{
    text-align: left!important;
  }

  .pizza-size{
    max-width: 400px;
    display: block;
  }

  .footer-image{
    display: block!important;
  }

  .form-container{
    margin-top: 1rem;
  }

  .capital{
    font-size: 32px;
  }

  .standard{
    font-size: 14px;
  }

  .food-card{
    width: 220px!important;
  }

  .food-card-container{
    gap: 33.3333333px;
  }

  .footer-image{
    img{
      width: 320px;
    }
  }

  .footer-left{

    max-width: 310px;

    h4{
      font-size: 28px;
    }

    span{
      font-size: 28px;
    }
  }
}

@media (min-width: $desktop) {
  .container{
    max-width: 1200px;
    margin: auto;
  }

  .footer-left{
    max-width: 380px!important;

    h4{
      font-size: 35px;
    }

    span{
      font-size: 35px;
    }
  }

  .form-container{
    margin-top: 4rem;
  }

  .footer-image{
    img{
      width: 410px;
    }
  }

  .food-card-container{
    gap: 53.3333333px;
  }

  .food-card{
    width: 260px;
  }

  .pizza-size{
    max-width: 500px;
  }
  .capital{
    font-size: 45px;
  }

  .medium{
    font-size: 24px;
  }

  .standard{
    font-size: 16px;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
